* {box-sizing: border-box;
}
body {
    background-image: url(./asset/bg.jpg);
    background-size: cover;

}

p1{
    color: wheat;
    font-size: large;
    font-style: italic;
    font-weight: bolder;
}

p3{
    color: black;
    font-size: large;
    font-style: italic;
    font-weight: bolder;
}


/* Add padding to containers*/
.container {
  
    padding: 45px; 
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: black;
    opacity: 0.9;
    border-radius: 50px;

}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px ;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: 2px greenyellow;
    border-radius: 50px;
    background: #f1f1f1;
    box-sizing: border-box;
    resize: vertical;
}



input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;

}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* set a style for the submit/register button */
.registerbtn {
    background-color: rgb(90, 19, 84);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 50px;

}

.registerbtn:hover {
    opacity: 1;
}

/* Add color to the links*/
a {
    
    color: white;

}

/* Set a grey background color and center the text of the sign in section */

.signin {
    background-color: rgb(90, 19, 84);
    color: white;
    text-align: center;
    padding: 3px;
    margin: auto;
    border-radius: 50px;
}

